#header1 {
    color: #1A1625;
    text-align: center;
    font-size: 60px;
    padding: 5px;
    margin: 0 0 0 0;
}

#nav {
    background-color: #311B92;
    height:53px;
}

.body {
    background-image: url("/Images/back.jpg");
}

ul {
    list-style-type: none;
}

.divider {
    width: 5px;
    height: auto;
    display: inline-block;
}

li a {
    color: #F1FAEE;
    padding: 20px;
    font-size: 30px;
    column-width: 5px;
}

li {
    display: inline;
    column-width: 20px;
}

a {
    text-decoration: none;
    margin-left: 20px; 
}

li a:hover {
    background-color: white;
    color: #000000;
    padding: 1%;
}

#form1 {
    margin-left:33%;
    margin-top: 5%;
    margin-bottom:20%;
    display: inline-block;
    text-align: center;
}

#article {
    background-color: #EEF5DB;
    padding: 10px;
    padding-bottom: 75%;
}

#footer {
    background-color: #C7EFCF;
    margin-top: 80%;
    text-align: center;
    padding-bottom: 5%;
    font-size: 20px;
}

#con {
    content: ' ';
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-image: url("/Images/back3.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}

#innercon{
    opacity: 1;
}

#login_form {
    margin-left: 29%;
    margin-top: 5%;
    margin-bottom: 20%;
    display: inline-block;
    text-align: center;
}

#form_details {
    margin-bottom: 20%;
    display: inline-block;
    text-align: center;
}

#customer_form {
    margin-bottom: 20%;
    margin-left: 40%;
    display: inline-block;
    text-align: center;
    margin-top: 5%;
}

#request_form {
    margin-bottom: 20%;
    display: inline-block;
    text-align: center;
}

#Buy_form {
    margin-bottom: 20%;
    display: inline-block;
    text-align: center;
}

#Stats {
    margin-bottom: 20%;
    display: inline-block;
    text-align: center;
}
